<h1>My Learning</h1>

<div class="tab">
    <!-- <button class="tablinks" routerLink="/courses">All Cources</button>
    <button class="tablinks" routerLink="/collections">Collection</button>
    <button class="tablinks" routerLink="/wishlist">Wishlist</button>
    <button class="tablinks" routerLink="/archived">Archived</button> -->

    <button class="tablinks" routerLink="/home/mycourses/courses">All Cources</button>
    <button class="tablinks" routerLink="/home/mycourses/collections">Collection</button>
    <button class="tablinks" routerLink="/home/mycourses/wishlist">Wishlist</button>
    <button class="tablinks" routerLink="/home/mycourses/archived">Archived</button>

</div>

